<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>About us</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic">
    <link rel="stylesheet" href="assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="assets/fonts/ionicons.min.css">
    <link rel="stylesheet" href="assets/css/Contact-Form-Clean.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <link rel="stylesheet" href="assets/css/Login-Form-Clean.css">
    <link rel="stylesheet" href="assets/css/Registration-Form-with-Photo.css">
    <link rel="stylesheet" href="assets/css/Team-Boxed.css">
</head>

<body>
    <nav class="navbar navbar-light navbar-expand-lg fixed-top" id="mainNav" style="font-family: 'Open Sans', sans-serif;">
        <div class="container"><a class="navbar-brand" href="/" style="font-size: 30px;">Tutors</a><button class="navbar-toggler" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><i class="fa fa-bars"></i></button>
            <div
                class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="nav navbar-nav text-center ml-auto">
                  <li class="nav-item" role="presentation" style="padding-top: 20px;"><a class="nav-link" href="/">Home</a></li>
                  <li class="nav-item" role="presentation" style="padding-top: 20px;"><a class="nav-link" href="/about">About us</a></li>
                  <li class="nav-item" role="presentation" style="padding-top: 20px;"><a class="nav-link" href="/contact-us">Contact us</a></li>
                  <li class="nav-item" role="presentation" style="padding-top: 20px;"><a class="nav-link" href="/assignments">Assignments</a></li>
                  <% if(!user){ %>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="/signin"><button class="btn btn-primary" type="button">Login</button></a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="/signup"><button class="btn btn-primary" type="button">Signup</button></a></li>
                  <% } %>
                  <% if(user){ %>
                    <% if(user.status == 'Faculty'){ %>
                      <li class="nav-item" role="presentation">
                        <a class="nav-link" href="/faculty-profile"><button class="btn btn-danger" type="button"><%= user.name %></button></a>
                      </li>
                    <% } else{ %>
                      <li class="nav-item" role="presentation">
                        <a class="nav-link" href="/profile"><button class="btn btn-primary" type="button"><%= user.name %></button></a>
                      </li>
                    <% } %>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="/logout"><button class="btn btn-primary" type="button">Logout</button></a></li>
                  <% } %>
                </ul>
        </div>
        </div>
    </nav>
    <header class="masthead" style="background-image:url('assets/img/about-bg.jpg');">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-lg-8 mx-auto">
                    <div class="site-heading">
                        <h1>About Us</h1><span class="subheading">This is what we are and how we work.</span></div>
                </div>
            </div>
        </div>
    </header>
    <div class="team-boxed">
        <div class="container">
            <div class="intro">
                <h1 class="text-center" style="padding-top: 61px;">OUR TEAM</h1>
                <p class="text-center" style="font-family: 'Open Sans', sans-serif;">We have hard working tutors and we call them up as our team. They are working with us since last 10 years. Have a look about them below.</p>
            </div>
            <div class="row people">
                <div class="col-md-6 col-lg-4 item">
                    <div data-bs-hover-animate="pulse" class="box"><img class="rounded-circle" src="assets/img/1.jpg">
                        <h3 class="name">Ben Johnson</h3>
                        <p class="title" style="color: rgb(115,109,109);font-family: 'Open Sans', sans-serif;">Faculty - maths</p>
                        <p class="description" style="font-family: 'Open Sans', sans-serif;">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu gravida. Aliquam varius finibus est, et interdum justo suscipit id. Etiam dictum feugiat tellus, a semper massa. </p>
                        <div class="social"><a href="#"><i class="fa fa-facebook-official"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-instagram"></i></a></div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 item">
                    <div data-bs-hover-animate="pulse" class="box"><img class="rounded-circle" src="assets/img/2.jpg">
                        <h3 class="name">Emily Clark</h3>
                        <p class="title" style="color: rgb(115,109,109);font-family: 'Open Sans', sans-serif;">faculty - physics</p>
                        <p class="description" style="font-family: 'Open Sans', sans-serif;">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu gravida. Aliquam varius finibus est, et interdum justo suscipit id. Etiam dictum feugiat tellus, a semper massa. </p>
                        <div class="social"><a href="#"><i class="fa fa-facebook-official"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-instagram"></i></a></div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 item">
                    <div data-bs-hover-animate="pulse" class="box" style="font-family: 'Open Sans', sans-serif;"><img class="rounded-circle" src="assets/img/3.jpg">
                        <h3 class="name">Carl Kent</h3>
                        <p class="title" style="color: rgb(115,109,109);">faculty - chemistry</p>
                        <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu gravida. Aliquam varius finibus est, et interdum justo suscipit id. Etiam dictum feugiat tellus, a semper massa. </p>
                        <div class="social"><a href="#"><i class="fa fa-facebook-official"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-instagram"></i></a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-lg-8 mx-auto">
                    <ul class="list-inline text-center">
                        <li class="list-inline-item"><span class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-twitter fa-stack-1x fa-inverse" data-bs-hover-animate="tada"></i></span></li>
                        <li class="list-inline-item"><span class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-facebook fa-stack-1x fa-inverse" data-bs-hover-animate="tada"></i></span></li>
                        <li class="list-inline-item"><span class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-instagram fa-stack-1x fa-inverse" data-bs-hover-animate="tada"></i></span></li>
                    </ul>
                    <p class="lead text-muted copyright" style="font-size: 19px;">Copyright&nbsp;©&nbsp;Tutors 2019, Created by <a href="https://saurabh-portfolio.herokuapp.com" style="text-decoration: none;">Saurabh Panchal</a></p>
                </div>
            </div>
        </div>
    </footer>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/bs-animation.js"></script>
    <script src="assets/js/clean-blog.js"></script>
</body>

</html>
