<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title><%= user.name %></title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic">
    <link rel="stylesheet" href="assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="assets/fonts/ionicons.min.css">
    <link rel="stylesheet" href="assets/css/Contact-Form-Clean.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">

    <style media="screen">
      nav li{
        padding: 10px 20px;
      }

      nav{
        border-bottom: solid 0.2px lightgrey;
      }

      form{
        padding: 30px 20px;
        border-radius: 5px;
      }

      #options input{
        margin-top: 5px;
      }

      #submitQuestion{
        color: white;
        border-radius: 4px;
        background: #E74C3C;
        border: solid 2px #E74C3C;
        padding: 6px;
        outline: none;
        font-family: Calibri;
      }

      #submitQuestion:hover{
        background: #CB4335;
        border: solid 2px #CB4335;
        transition: all 0.3s;
      }

    </style>
</head>

<body class="text-center" style="color: rgb(0,0,0);">
    <nav class="navbar navbar-light navbar-expand-xl text-center navigation-clean" style="font-family: Basic, sans-serif;">
        <div class="container">
          <a class="navbar-brand" href="/faculty-profile" style="font-size: 30px;"><%= user.name %></a>
          <button class="navbar-toggler" data-toggle="collapse" data-target="#navcol-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navcol-1">
            <ul class="nav navbar-nav ml-auto">
              <li class="nav-item" role="presentation">
                <a class="nav-link" href="/">Home</a>
              </li>
              <li class="nav-item" role="presentation">
                <a class="nav-link" href="#">Doubt session</a>
              </li>
              <li class="nav-item" role="presentation">
                <a class="nav-link" href="/faculty-profile">Classroom</a>
              </li>
              <li class="nav-item" role="presentation">
                <a class="nav-link" href="/logout">Logout</a>
              </li>
            </ul>
          </div>
      </div>
    </nav>

    <div class="container" style="margin-top: 58px; margin-bottom: 150px; font-family: Calibri;">
      <!-- Nav tabs -->
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link active" data-toggle="tab" href="#simple_question">Simple Question</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#MCQ_question">MCQ Question</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#menu2">Other Menus</a>
        </li>
      </ul>

      <!-- Tab panes -->
      <div class="tab-content">

        <div class="tab-pane container active" id="simple_question">
          <div class="row" style="margin-top: 50px;">
            <div class="col-md-2">

            </div>
            <div class="col-md-8">
              <h1 style="font-family: Calibri; text-align: left;">Enter your question of the day..</h1>
              <br>

              <form class="shadow-lg" action="/enter-questions" method="POST" style="text-align: left; font-family: Basic, sans-serif;">

                <input type="text" class="form-control" name="id" value="Simple Question" readonly/>
                <br>

                <label for="subject">Select Subject</label>
                <select class="form-control" name="subject" required/>
                  <option value="" selected="">Select Subject</option>
                  <option value="Maths">Maths</option>
                  <option value="Physics">Physics</option>
                  <option value="Chemistry">Chemistry</option>
                  <option value="Others">Others</option>
                </select><br>

                <label for="class">Select Class</label>
                <select class="form-control" name="class" required/>
                  <option value="" selected="">Select Class</option>
                  <option value="8">8</option>
                  <option value="9">9</option>
                  <option value="10">10</option>
                  <option value="11">11</option>
                  <option value="12">12</option>
                </select><br>

                <label for="question">Question</label>
                <textarea name="question" rows="8" cols="80" class="form-control" placeholder="Write Question here"></textarea>

                <br>
                <label for="image">Corresponding Image to be attached</label>


                <br>
                <label for="answer">Answer</label>
                <input type="text" name="answer" class="form-control" placeholder="Write Answer here" required/>

                <br>
                <button type="submit" id="submitQuestion">Submit Question</button>
              </form>
            </div>
            <div class="col-md-2">

            </div>
          </div>
        </div>

        <div class="tab-pane container fade" id="MCQ_question">
          <div class="row" style="margin-top: 50px;">
            <div class="col-md-2">

            </div>
            <div class="col-md-8">
              <h1 style="font-family: Calibri; text-align: left;">Enter your MCQ question of the day..</h1>
              <br>

              <form class="shadow-lg" action="/enter-questions" method="POST" style="text-align: left; font-family: Basic, sans-serif;">

                <input type="text" class="form-control" name="id" value="MCQ Question" readonly/>
                <br>

                <label for="subject">Select Subject</label>
                <select class="form-control" name="subject" required/>
                  <option value="" selected="">Select Subject</option>
                  <option value="Maths">Maths</option>
                  <option value="Physics">Physics</option>
                  <option value="Chemistry">Chemistry</option>
                  <option value="Others">Others</option>
                </select><br>

                <label for="class">Select Class</label>
                <select class="form-control" name="class" required/>
                  <option value="" selected="">Select Class</option>
                  <option value="8">8</option>
                  <option value="9">9</option>
                  <option value="10">10</option>
                  <option value="11">11</option>
                  <option value="12">12</option>
                </select><br>

                <label for="question">Question</label>
                <textarea name="question" rows="8" cols="80" class="form-control" placeholder="Write Question here"></textarea>

                <br>
                <label>Options for question</label>
                <div class="" style="width: 30%;" id="options">
                  <input type="text" name="option_1" placeholder="option 1" class="form-control">
                  <input type="text" name="option_2" placeholder="option 2" class="form-control">
                  <input type="text" name="option_3" placeholder="option 3" class="form-control">
                  <input type="text" name="option_4" placeholder="option 4" class="form-control">
                </div>

                <br>
                <label for="image">Corresponding Image to be attached</label>


                <br>
                <label for="answer">Answer</label>
                <input type="text" name="answer" class="form-control" placeholder="Write Answer here" required/>

                <br>
                <button type="submit" id="submitQuestion">Submit Question</button>
              </form>
            </div>
            <div class="col-md-2">

            </div>
          </div>
        </div>
        <div class="tab-pane container fade" id="menu2">...</div>
      </div>
    </div>

    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/bs-animation.js"></script>
    <script src="assets/js/clean-blog.js"></script>
</body>

</html>
