<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title><%= user.name %></title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic">
    <link rel="stylesheet" href="assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="assets/fonts/ionicons.min.css">
    <link rel="stylesheet" href="assets/css/Contact-Form-Clean.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <link rel="stylesheet" href="assets/css/Testimonials.css">
    <link rel="stylesheet" href="assets/css/Navigation-Clean.css">

    <style media="screen">
      nav li{
        padding: 10px 20px;
      }

      nav{
        border-bottom: solid 0.2px lightgrey;
      }

    </style>
</head>

<body class="text-center" style="color: rgb(0,0,0);">
    <nav class="navbar navbar-light navbar-expand-xl text-center navigation-clean" style="font-family: Basic, sans-serif;">
        <div class="container">
          <a class="navbar-brand" href="/faculty-profile" style="font-size: 30px;"><%= user.name %></a>
          <button class="navbar-toggler" data-toggle="collapse" data-target="#navcol-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navcol-1">
            <ul class="nav navbar-nav ml-auto">
              <li class="nav-item" role="presentation">
                <a class="nav-link" href="/">Home</a>
              </li>
              <li class="nav-item" role="presentation">
                <a class="nav-link" href="#">Doubt session</a>
              </li>
              <li class="nav-item" role="presentation">
                <a class="nav-link active" href="/faculty-profile">Classroom</a>
              </li>
              <li class="nav-item" role="presentation">
                <a class="nav-link" href="/logout">Logout</a>
              </li>
            </ul>
          </div>
      </div>
    </nav>

    <div class="container" style="margin-top: 58px; font-family: Basic, sans-serif;">
        <div class="row">
            <div class="col-md-4">
              <ul class="list-group">
                <li class="list-group-item">
                  <span>
                    <a href="/mark-attendance" style="text-decoration: none;">Attendance</a>
                  </span>
                </li>
                <li class ="list-group-item">
                  <span>
                    <a href="/enter-questions" style="text-decoration: none;">Enter Questions</a>
                  </span>
                </li>
                <li class ="list-group-item">
                  <span>
                    <a href="#" style="text-decoration: none;">Assignments</a>
                  </span>
                </li>
                <li class ="list-group-item">
                  <span>
                    <a href="/contact-messages" style="text-decoration: none;">Contact Messages</a>
                  </span>
                </li>
                <li class ="list-group-item">
                  <span>
                    <a href="/myMessages" style="text-decoration: none;">Messages</a>
                  </span>
                </li>
              </ul>
            </div>
            <div class="col-md-8">
                <h1>Questions of the day.</h1>
                <div style="height: 382px;margin-top: 52px;margin-bottom: 25px;"></div>
            </div>
        </div>
    </div>

    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/bs-animation.js"></script>
    <script src="assets/js/clean-blog.js"></script>
</body>

</html>
