<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title><%= user.name %></title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic">
    <link rel="stylesheet" href="assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="assets/fonts/ionicons.min.css">
    <link rel="stylesheet" href="assets/css/Contact-Form-Clean.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <link rel="stylesheet" href="assets/css/Login-Form-Clean.css">
    <link rel="stylesheet" href="assets/css/Registration-Form-with-Photo.css">
    <link rel="stylesheet" href="assets/css/Team-Boxed.css">
    <link rel="stylesheet" href="assets/css/Testimonials.css">
    <link rel="stylesheet" href="assets/css/Navigation-Clean.css">

    <script crossorigin src="https://unpkg.com/react@16/umd/react.development.js"></script>
    <script crossorigin src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>
    <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>

    <style media="screen">
      nav li{
        padding: 10px 20px;
      }

      nav{
        border-bottom: solid 0.2px lightgrey;
      }

      form{
        width: 50%;
        margin: 10px auto;
        box-shadow: 0 0 20px lightgrey;
        padding: 40px;
        border-radius: 6px;
      }

      #attendanceButton{
        border-radius: 4px;
        background: #09BF2D;
        border: solid 2px #09BF2D;
        outline: none;
        color: white;
        padding: 5px 7px;
        font-family: Calibri;
      }

      #attendanceButton:hover{
        border: solid 2px #07B028;
        background: #07B028;
        transition: all 0.3s;
      }

      @media only screen and (max-width: 700px){
        form{
          width: 100%;
        }
      }

    </style>
</head>

<body class="text-center" style="color: rgb(0,0,0);">
    <nav class="navbar navbar-light navbar-expand-xl text-center navigation-clean" style="font-family: Basic, sans-serif;">
        <div class="container">
          <a class="navbar-brand" href="/faculty-profile" style="font-size: 30px;"><%= user.name %></a>
          <button class="navbar-toggler" data-toggle="collapse" data-target="#navcol-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navcol-1">
            <ul class="nav navbar-nav ml-auto">
              <li class="nav-item" role="presentation">
                <a class="nav-link" href="/">Home</a>
              </li>
              <li class="nav-item" role="presentation">
                <a class="nav-link" href="#">Doubt session</a>
              </li>
              <li class="nav-item" role="presentation">
                <a class="nav-link" href="/faculty-profile">Classroom</a>
              </li>
              <li class="nav-item" role="presentation">
                <a class="nav-link" href="/logout">Logout</a>
              </li>
            </ul>
          </div>
      </div>
    </nav>

    <div class="container" id="attendance_block" style="margin-top: 60px; padding: 30px;">
      <form method = "POST" action = "/mark-attendance" style="text-align: left;">
        <h1 style="text-align: left; font-family: Calibri; margin-bottom: 40px;">Want to mark attendance?</h1>
        <label for="class" style="font-family: Calibri;">Select the class for attendance..</label>
        <select class="form-control" style="margin-top: 16px; font-family: 'Open Sans', sans-serif;" name="class" required/>
          <option value="" selected="">Your Present Class</option>
          <option value="8">8</option>
          <option value="9">9</option>
          <option value="10">10</option>
          <option value="11">11</option>
          <option value="12">12</option>
        </select>

        <br>
        <button type="submit" id="attendanceButton">Select Class</button>
      </form>
    </div>

    <div class="container" id="attendance_block" style="margin: 60px auto; padding: 30px;">
      <form method = "POST" action = "" style="text-align: left;">
        <h1 style="text-align: left; font-family: Calibri;">Want to see attendance?</h1>
        <label for="class"></label>
        <select class="form-control" style="margin-top: 16px; font-family: 'Open Sans', sans-serif;" name="class" required/>
          <option value="" selected="">Your Present Class</option>
          <option value="8">8</option>
          <option value="9">9</option>
          <option value="10">10</option>
          <option value="11">11</option>
          <option value="12">12</option>
        </select>

        <br>
        <div class="form-group">
          <label for="hire_date" style="font-family: Calibri;">Date</label>
          <input class="form-control" type="date" id="hire_date" name="hire_date" style = "font-family: Calibri;">
        </div>

        <br>
        <button type="submit" id="attendanceButton">Select Class</button>
      </form>
    </div>

    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/bs-animation.js"></script>
    <script src="assets/js/clean-blog.js"></script>
  </body>

</html>
