<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Login</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic">
    <link rel="stylesheet" href="assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="assets/fonts/ionicons.min.css">
    <link rel="stylesheet" href="assets/css/Contact-Form-Clean.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <link rel="stylesheet" href="assets/css/Login-Form-Clean.css">
    <link rel="stylesheet" href="assets/css/Registration-Form-with-Photo.css">
    <link rel="stylesheet" href="assets/css/Team-Boxed.css">

    </script>

    <style media="screen">
      form{
        font-family: 'Open Sans', sans-serif;
      }

      #signin_form i{
        color: rgb(71,119,244);
      }

      #signin_button{
        background-color: rgb(71,119,244);
      }

      #email_message{
        font-size: 12px;
        color: rgb(71,119,244);
      }
    </style>

</head>

<body>
    <nav class="navbar navbar-light navbar-expand-lg fixed-top" id="mainNav" style="font-family: 'Open Sans', sans-serif;">
        <div class="container"><a class="navbar-brand" href="/" style="font-size: 30px;">Tutors</a><button class="navbar-toggler" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><i class="fa fa-bars"></i></button>
            <div
                class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="nav navbar-nav text-center ml-auto">
                  <li class="nav-item" role="presentation" style="padding-top: 20px;"><a class="nav-link" href="/">Home</a></li>
                  <li class="nav-item" role="presentation" style="padding-top: 20px;"><a class="nav-link" href="/about">About us</a></li>
                  <li class="nav-item" role="presentation" style="padding-top: 20px;"><a class="nav-link" href="/contact-us">Contact us</a></li>
                  <li class="nav-item" role="presentation" style="padding-top: 20px;"><a class="nav-link" href="/assignments">Assignments</a></li>
                  <% if(!user){ %>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="/faculty-signin"><button class="btn btn-danger" type="button">Faculty Login</button></a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="/signup"><button class="btn btn-primary" type="button">Signup</button></a></li>
                  <% } %>
                  <% if(user){ %>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="/profile"><button class="btn btn-primary" type="button"><%= user.name %></button></a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="/logout"><button class="btn btn-primary" type="button">Logout</button></a></li>
                  <% } %>
                </ul>
        </div>
        </div>
    </nav>
    <div class="overlay"></div>
    <header class="masthead" style="background-image:url('assets/img/home-bg.jpg');">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-lg-8 mx-auto">
                    <div class="site-heading">
                        <h1>Student Login&nbsp;</h1>
                        <span class="subheading" style="font-family: 'Open Sans', sans-serif;margin-top: 31px;">Login to see your details and start coordinating with the classmates and faculties.</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <div class="login-clean" style="background-color: rgba(241,247,252,0);" id="signin_form">
      <form class="shadow-lg" method="POST" action="/signin" onsubmit="validateFunc()">
          <h2 class="sr-only">Login Form</h2>
          <div class="illustration">
            <i class="icon ion-ios-navigate" style="color: rgb(71,119,244);"></i>
          </div>

          <p class="lead" id="incorrect-message"></p>
          <div class="form-group">
            <input class="form-control" id = "email" type="username" name="username" placeholder="Email/Username" style="font-family: 'Open Sans', sans-serif;" required/>
          </div>
          <div class="form-group">
            <input class="form-control" id = "password" type="password" name="password" placeholder="Password" style="font-family: 'Open Sans', sans-serif;" required/>
          </div>
          <div class="form-group">
            <button class="btn btn-primary btn-block" type="submit" style="font-family: 'Open Sans', sans-serif;background-color: rgb(71,119,244);">Log In</button>
          </div>
          <a href="#" class="forgot" style="font-family: 'Open Sans', sans-serif;">Forgot your email or password?</a>
      </form>
    </div>

    <div>
      <hr>
    </div>

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-lg-8 mx-auto">
                    <ul class="list-inline text-center">
                        <li class="list-inline-item"><span class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-twitter fa-stack-1x fa-inverse" data-bs-hover-animate="tada"></i></span></li>
                        <li class="list-inline-item"><span class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-facebook fa-stack-1x fa-inverse" data-bs-hover-animate="tada"></i></span></li>
                        <li class="list-inline-item"><span class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-instagram fa-stack-1x fa-inverse" data-bs-hover-animate="tada"></i></span></li>
                    </ul>
                    <p class="lead text-muted copyright" style="font-size: 19px;">Copyright&nbsp;©&nbsp;Tutors 2019, Created by <a href="https://saurabh-portfolio.herokuapp.com" style="text-decoration: none;">Saurabh Panchal</a></p>
                </div>
            </div>
        </div>
    </footer>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/bs-animation.js"></script>
    <script src="assets/js/clean-blog.js"></script>

    <script type="text/javascript">
      var email = document.getElementById('email');
      var password = document.getElementById('password');
      var message = document.getElementById('incorrect-message');
      var allUsers = <%- JSON.stringify(allUsers) %> ;

      function validateFunc(){
        var check = false;
        for(var i = 0; i<allUsers.length; i++){
          if(email.value == allUsers[i].email){
            if(password.value == allUsers[i].password){
              check = true;
              break;
            }
            else{
              check = false;
              break;
            }
          }
        }

        if(check == false){
          event.preventDefault();
          message.innerHTML = "Email / Password not correct";

          message.style.fontSize = "15px";
          message.style.fontFamily = "Calibri";
          message.style.color = "red";
        }
      }
    </script>

</body>

</html>
